.screen {
   min-height: 100vh;
   &.screen_size_full {
      height: 100vh;
   }
   .screen__container {
      padding: $pd_wrapper;
      height: 100%;
      display: flex;
      flex-direction: column;
   }

   &.screen-intro {
      @include mxn_bg_full_screen;
      background-image: url("/assets/img/bg.jpg");
   }
}
