.popup-silder {
   width: 100%;
   background: rgba(23, 23, 30, 0.8);

   .popup-silder__close {
      display: inline-block;
      cursor: pointer;
   }
   .popup-silder__items {
      align-items: center;
      display: flex;
      .popup-silder__items__img-center {
         margin: 0 60px;
      }
   }

   .popup-silder__slider {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      .circle {
         cursor: pointer;
         width: 10px;
         height: 10px;
         border-radius: 50%;
         border: 1px solid #665239;
         &:not(:last-child) {
            margin-right: 8px;
         }
      }
      .circle-active {
         background: $clr_gradient_orange;
      }
   }
}
