.popup-form__complete-form {
   text-align: center;
   position: relative;
   .img-complete {
      margin-bottom: 40px;
   }
   .close__button {
      cursor: pointer;
      position: absolute;
      right: 23px;
      top: 23px;
   }
   .complete__popup-text {
      flex-direction: column;
      text-align: center;
      display: flex;
      color: #fff;

      h3 {
         font-family: $ft_mlr_bold;
         font-size: 30px;
         margin-bottom: 30px;
      }
      p {
         font-family: $ft_mlr_light;
         opacity: 0.8;
         font-size: 14px;
         line-height: 200%;
      }
   }
}
