/*Fonts*/
/*Colors*/
/*Sizes*/
/*Inheritance*/
.description .category__page-title, .finished-project .category__page-title {
  font-size: 30px;
  font-family: "MullerBold";
  color: #fff;
  line-height: 140%;
  margin-bottom: 45px; }

.description .description__content .description__text .subtitle__description-text, .description .description__content .description__features .description__features-column .features-text, .screen__container__page-not-found .not-found .wrapper__not-found .subtitle__not-found, .contacts .intro-content__contacts .contacts__adress .adress {
  font-family: "MullerRegular";
  color: #fff;
  font-size: 14px;
  opacity: 0.8;
  line-height: 200%; }

/* default styles */
* {
  padding: 0;
  margin: 0;
  border: 0; }

html,
body {
  background-color: #17171e;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

/*  common styles  */
.content-container {
  padding: 0 80px;
  margin-top: auto;
  margin-bottom: auto; }

.container {
  padding: 0 120px;
  margin: 0 auto; }

.theme_gold {
  background: linear-gradient(276.5deg, #b48c52 0%, #ecc893 195.44%); }

.phone-link {
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background: linear-gradient(276.5deg, #b48c52 0%, #ecc893 195.44%);
  font-family: "MullerBold";
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  display: inline-block;
  font-size: 14px; }

.button {
  transition: background 0.2s ease-in; }
  .button:hover {
    background: #e7c595; }

.screen {
  min-height: 100vh; }
  .screen.screen_size_full {
    height: 100vh; }
  .screen .screen__container {
    padding: 30px 40px 0px 40px;
    height: 100%;
    display: flex;
    flex-direction: column; }
  .screen.screen-intro {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(assets/img/bg.jpg); }

.button {
  /*@include mxn_flx_centered_content;*/ }
  .button.button_size_desktop {
    height: 65px;
    width: 220px;
    border-radius: 3px;
    color: #fff;
    border: none; }
  .button .button__title {
    font-family: "MullerExtraBold";
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px; }

.header {
  display: fixed;
  width: 100%; }
  .header .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .header__container .header__element {
      font-family: "MullerMedium";
      font-size: 14px;
      letter-spacing: 2px; }
    .header .header__container .element-wrapper {
      display: flex;
      align-items: center; }
      .header .header__container .element-wrapper .burger {
        width: 22px;
        margin-right: 20px; }
        .header .header__container .element-wrapper .burger-line {
          width: 100%;
          height: 2.5px;
          background: linear-gradient(276.5deg, #b48c52 0%, #ecc893 195.44%);
          display: block;
          -webkit-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
          .header .header__container .element-wrapper .burger-line:nth-child(2) {
            margin: 6px auto; }
        .header .header__container .element-wrapper .burger:hover {
          cursor: pointer; }
        .header .header__container .element-wrapper .burger.burger-active .burger-line:nth-child(2) {
          opacity: 0; }
        .header .header__container .element-wrapper .burger.burger-active .burger-line:nth-child(1) {
          -webkit-transform: translateY(10px) rotate(40deg);
          -ms-transform: translateY(10px) rotate(40deg);
          -o-transform: translateY(10px) rotate(40deg);
          transform: translateY(10px) rotate(40deg); }
        .header .header__container .element-wrapper .burger.burger-active .burger-line:nth-child(3) {
          -webkit-transform: translateY(-10px) rotate(-40deg);
          -ms-transform: translateY(-10px) rotate(-40deg);
          -o-transform: translateY(-10px) rotate(-40deg);
          transform: translateY(-10px) rotate(-40deg); }

.intro-content {
  width: 75%; }
  .intro-content .intro-content__element.intro-content__element-title {
    padding-top: 3px;
    padding-left: 10px;
    padding-bottom: 3px;
    line-height: 140%;
    font-family: "MullerBold";
    font-weight: bold;
    font-size: 46px;
    letter-spacing: 2px; }
    .intro-content .intro-content__element.intro-content__element-title span {
      color: #fff;
      background-color: #000000;
      box-shadow: 0 0px 0px 10px #000000; }
  .intro-content .intro-content__element.intro-content__element-catalog {
    display: flex; }
    .intro-content .intro-content__element.intro-content__element-catalog .element-catalog {
      margin-top: 5px;
      color: #fff;
      letter-spacing: 1px;
      font-size: 20px;
      font-family: "MullerRegular";
      font-weight: normal;
      background-color: rgba(0, 0, 0, 0.5);
      width: 140px;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .intro-content .intro-content__element.intro-content__element-catalog .element-catalog:not(:last-child) {
        margin-right: 5px; }
  .intro-content .intro-content__element.intro-content__element-catalog-btn-to-order {
    margin-top: 20px; }

.footer-intro .slider-change-picture {
  display: flex;
  justify-content: space-between; }
  .footer-intro .slider-change-picture .slider-change-picture__counter {
    font-family: "MullerBold";
    color: #fff;
    font-size: 14px;
    background: linear-gradient(276.5deg, #b48c52 0%, #ecc893 195.44%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; }
    .footer-intro .slider-change-picture .slider-change-picture__counter span {
      font-size: 40px;
      font-family: "MullerRegular"; }

.slider-change-picture__tabs {
  display: flex; }
  .slider-change-picture__tabs > div {
    width: 28px;
    height: 28px;
    border-radius: 3px;
    background-image: url("/assets/img/arrow.svg");
    cursor: pointer; }
  .slider-change-picture__tabs > div:not(:last-child) {
    margin-right: 10px; }
  .slider-change-picture__tabs .slider-intro-control-right {
    transform: rotate(180deg); }

.overlay.overlay_size_full {
  height: 100vh; }

.overlay .overlay__menu-rectangle {
  position: relative;
  width: 29%;
  height: 100%;
  background-color: #17171e;
  box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.25);
  /* .vert-trail {
         position: absolute;
         width: 1px;
         height: 100%;
         background: $clr_gradient_orange;
         margin-left: calc(7% - 1px);
         opacity: 0.3;
      } */ }
  .overlay .overlay__menu-rectangle::after {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 100%;
    top: 0;
    left: 25%;
    background-color: #6e5b42; }

.overlay .overlay__container {
  padding: 30px 40px 0px 40px;
  height: 100vh;
  display: flex; }

.overlay.overlay-intro {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(assets/img/bg.jpg);
  position: relative;
  /* &.overlay-intro::after {
         content: "";
         position: absolute;
         height: 100%;
         width: 100%;
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
         background: linear-gradient(270.11deg, #17171e -10.83%, rgba(23, 23, 30, 0.6) 176.31%);
      } */ }

.overlay .overlay__container_left-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.overlay .aside-menu__close .cl-btn-6 {
  position: relative;
  width: 26px;
  cursor: pointer; }
  .overlay .aside-menu__close .cl-btn-6 .cl-btn-6-in {
    width: inherit;
    text-align: center; }

.overlay .aside-menu__close .cl-btn-6-txt {
  color: #fff;
  font-size: 12px;
  padding: 10px 0;
  text-transform: uppercase;
  color: linear-gradient(276.5deg, #b48c52 0%, #ecc893 195.44%);
  transition: all 0.3s ease-in;
  opacity: 0;
  cursor: pointer;
  font-family: "Muller"; }

.overlay .aside-menu__close .cl-btn-6-in:before,
.overlay .aside-menu__close .cl-btn-6-in:after {
  position: absolute;
  content: "";
  height: 2.3px;
  width: inherit;
  background: linear-gradient(276.5deg, #b48c52 0%, #ecc893 195.44%);
  left: 0;
  transition: all 0.3s ease-in; }

.overlay .aside-menu__close .cl-btn-6-in:before {
  top: calc(50% - 3px);
  transform: rotate(45deg); }

.overlay .aside-menu__close .cl-btn-6-in:after {
  bottom: 50%;
  transform: rotate(-45deg); }

.overlay .aside-menu__close .cl-btn-6:hover .cl-btn-6-txt {
  opacity: 1; }

.overlay .aside-menu__close .cl-btn-6:hover .cl-btn-6-in:before,
.overlay .aside-menu__close .cl-btn-6:hover .cl-btn-6-in:after {
  transform: rotate(0); }

.overlay .aside-menu__close .cl-btn-6:hover .cl-btn-6-in:before {
  top: 0; }

.overlay .aside-menu__close .cl-btn-6:hover .cl-btn-6-in:after {
  bottom: 0; }

.overlay .social-links {
  display: flex;
  flex-direction: column; }
  .overlay .social-links a:not(:last-child) {
    margin-bottom: 15px; }

.overlay .navigation {
  margin-left: 130px; }
  .overlay .navigation .navigation-link__link-active {
    color: #ecc893; }
  .overlay .navigation ul li:not(:last-child) {
    margin-bottom: 20px; }
  .overlay .navigation a {
    transition: 0.2s linear;
    font-family: "MullerRegular";
    font-size: 14px;
    color: #fff; }
    .overlay .navigation a:hover {
      color: #ecc893; }

.footer .footer-wrapper {
  background-color: #111116;
  width: 100%;
  height: auto; }

.footer .footer__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0; }
  .footer .footer__items .category-column {
    font-family: "MullerRegular";
    font-size: 14px; }
    .footer .footer__items .category-column a {
      color: #88888a;
      display: inline-block;
      line-height: 140%;
      transition: 0.2s linear; }
      .footer .footer__items .category-column a:hover {
        color: #fff; }
    .footer .footer__items .category-column a:not(:last-child) {
      margin-bottom: 15px; }
  .footer .footer__items .category-column.category-column__number .number {
    color: #fff;
    font-size: 20px;
    line-height: 97%; }
  .footer .footer__items .category-column.category-column__number span {
    color: #88888a; }

.footer .footer-soc {
  background-color: #0b0b0e;
  width: 100%;
  height: auto;
  padding: 20px 0; }

.footer .footer-soc__items {
  font-family: "MullerRegular";
  font-size: 14px;
  align-items: center;
  display: flex;
  line-height: 140%;
  justify-content: space-between; }
  .footer .footer-soc__items .img-soc {
    display: flex;
    align-items: center; }
    .footer .footer-soc__items .img-soc a:first-child {
      margin-right: 10px; }
  .footer .footer-soc__items .years {
    margin-left: 20px;
    font-family: "MullerRegular";
    color: #fff;
    opacity: 0.2; }
  .footer .footer-soc__items .links-soc-footer a {
    font-size: 14px;
    font-family: "MullerRegular";
    opacity: 0.2;
    color: #fff; }
    .footer .footer-soc__items .links-soc-footer a:last-child {
      margin-left: 30px; }
    .footer .footer-soc__items .links-soc-footer a span {
      text-decoration: underline; }

.popup__wrapper {
  display: flex; }

.popup-text-wrapper {
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 489px;
  height: 420px;
  background-color: #262632;
  background-image: url(assets/img/bg-form.png); }
  .popup-text-wrapper .popup-text {
    margin-left: 60px; }
    .popup-text-wrapper .popup-text h3 {
      font-family: "MullerBold";
      font-size: 30px;
      margin-bottom: 30px; }
    .popup-text-wrapper .popup-text p {
      font-family: "MullerLight";
      opacity: 0.8;
      font-size: 14px;
      line-height: 200%;
      width: 60%; }

.popup-form {
  margin-left: 10px;
  width: 704px;
  height: 420px;
  background-color: #262632;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .popup-form .form__wrapper {
    margin-left: 97px; }
    .popup-form .form__wrapper .form__row-check .check__wrapper input[type="checkbox"] {
      display: none; }
    .popup-form .form__wrapper .form__row-check .check__wrapper input[type="checkbox"] + label {
      color: #929298;
      cursor: pointer;
      font-size: 12px;
      font-family: "MullerLight";
      line-height: 150%; }
    .popup-form .form__wrapper .form__row-check .check__wrapper input[type="checkbox"] + label span {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: -2px 10px 0 0;
      vertical-align: middle;
      background: url(assets/img/checkbox-no-active.svg) center no-repeat;
      cursor: pointer;
      transition: background 0.2s linear; }
    .popup-form .form__wrapper .form__row-check .check__wrapper input[type="checkbox"]:checked + label span {
      background: url(assets/img/checkbox.svg) center no-repeat; }
    .popup-form .form__wrapper .name {
      font-family: "MullerLight";
      width: 508px;
      padding: 0px 0px 15px 0px;
      background: none;
      border: none;
      border-bottom: 1px solid #51515b;
      color: #d4d4d6;
      font-size: 14px;
      outline: none;
      margin-bottom: 35px; }
    .popup-form .form__wrapper .phone {
      font-family: "MullerLight";
      width: 508px;
      padding: 0px 0px 15px 0px;
      background: none;
      border: none;
      border-bottom: 1px solid #51515b;
      color: #d4d4d6;
      font-size: 14px;
      outline: none;
      margin-bottom: 35px; }

.screen.screen_size_full {
  height: 100vh; }

.screen .screen__container {
  padding: 30px 40px 0px 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative; }

.screen .page-fance__ocverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(23, 23, 30, 0.62); }

.screen.screen-intro__fence {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url(assets/img/Fence-bg.png); }

.screen .intro-content .intro-content__element-title-service {
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px; }
  .screen .intro-content .intro-content__element-title-service span {
    color: #fff;
    background-color: transparent;
    box-shadow: none; }

.screen .intro-content p {
  width: 60%;
  font-family: "MullerRegular";
  color: #fff;
  font-size: 14px;
  line-height: 200%;
  opacity: 0.8;
  margin: 30px 0px 40px 0px; }

.description {
  padding: 150px 0px; }
  .description .description__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .description .description__content .description__text {
      width: 50%; }
    .description .description__content .description__features .description__features-column {
      display: flex; }
      .description .description__content .description__features .description__features-column p {
        width: 376px; }
      .description .description__content .description__features .description__features-column:nth-child(2) {
        margin: 28px 0; }
      .description .description__content .description__features .description__features-column .features-text {
        margin-left: 30px; }

.finished-project {
  margin-bottom: 50px; }
  .finished-project .header__finished-project {
    display: flex;
    justify-content: space-between; }
  .finished-project .finished-project__wrapper {
    display: flex; }
    .finished-project .finished-project__wrapper .finished-project__wrapper__item {
      margin-left: 30px; }
      .finished-project .finished-project__wrapper .finished-project__wrapper__item p {
        display: none; }
      .finished-project .finished-project__wrapper .finished-project__wrapper__item img {
        width: 552px;
        height: 430px;
        background-color: #000; }
      .finished-project .finished-project__wrapper .finished-project__wrapper__item p {
        font-family: "MullerBold";
        margin-top: 30px;
        line-height: 140%;
        color: #fff;
        font-size: 20px; }

.feedback-form {
  width: 100%;
  height: 758px;
  background-image: url(assets/img/bg-form.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px; }
  .feedback-form .popup {
    padding-top: 170px; }
  .feedback-form .button__feedback-from_desktop {
    margin-top: 60px;
    width: 306px; }

.other-work {
  margin-bottom: 130px; }
  .other-work .other-work__wrapper .other-work__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .other-work .other-work__wrapper .other-work__items .other-work__item {
      position: relative;
      width: 60%;
      max-width: 590px;
      height: 332px;
      position: relative;
      overflow: hidden; }
      .other-work .other-work__wrapper .other-work__items .other-work__item img {
        filter: brightness(72%);
        transition: transform 0.3s linear; }
      .other-work .other-work__wrapper .other-work__items .other-work__item:hover img {
        transform: scale(1.1); }
      .other-work .other-work__wrapper .other-work__items .other-work__item .other-work__title {
        position: absolute;
        width: 45%;
        line-height: 140%;
        font-family: "MullerBold";
        color: #fff;
        font-size: 20px;
        left: 7%;
        bottom: 10%; }

.gallery .intro-content .intro-content__element-title-page {
  margin-top: 60px; }
  .gallery .intro-content .intro-content__element-title-page span {
    background-color: transparent;
    box-shadow: none; }

.screen__container__page-not-found {
  padding: 30px 40px 0px 40px;
  display: flex;
  flex-direction: column; }
  .screen__container__page-not-found .not-found {
    margin: 160px;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .screen__container__page-not-found .not-found .wrapper__not-found {
      text-align: center; }
      .screen__container__page-not-found .not-found .wrapper__not-found .img__not-found {
        margin-bottom: 45px; }
      .screen__container__page-not-found .not-found .wrapper__not-found .title__not-found {
        font-family: "MullerLight";
        text-transform: uppercase;
        line-height: 140%;
        font-size: 35px;
        margin-bottom: 35px;
        background: linear-gradient(276.5deg, #b48c52 0%, #ecc893 195.44%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent; }
      .screen__container__page-not-found .not-found .wrapper__not-found .subtitle__not-found {
        margin-bottom: 40px;
        opacity: 0.5; }
    .screen__container__page-not-found .not-found .button__not-found-from_desktop {
      width: 264px; }

.popup-silder {
  width: 100%;
  background: rgba(23, 23, 30, 0.8); }
  .popup-silder .popup-silder__close {
    display: inline-block;
    cursor: pointer; }
  .popup-silder .popup-silder__items {
    align-items: center;
    display: flex; }
    .popup-silder .popup-silder__items .popup-silder__items__img-center {
      margin: 0 60px; }
  .popup-silder .popup-silder__slider {
    margin-top: 50px;
    display: flex;
    justify-content: center; }
    .popup-silder .popup-silder__slider .circle {
      cursor: pointer;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid #665239; }
      .popup-silder .popup-silder__slider .circle:not(:last-child) {
        margin-right: 8px; }
    .popup-silder .popup-silder__slider .circle-active {
      background: linear-gradient(276.5deg, #b48c52 0%, #ecc893 195.44%); }

.popup-form__complete-form {
  text-align: center;
  position: relative; }
  .popup-form__complete-form .img-complete {
    margin-bottom: 40px; }
  .popup-form__complete-form .close__button {
    cursor: pointer;
    position: absolute;
    right: 23px;
    top: 23px; }
  .popup-form__complete-form .complete__popup-text {
    flex-direction: column;
    text-align: center;
    display: flex;
    color: #fff; }
    .popup-form__complete-form .complete__popup-text h3 {
      font-family: "MullerBold";
      font-size: 30px;
      margin-bottom: 30px; }
    .popup-form__complete-form .complete__popup-text p {
      font-family: "MullerLight";
      opacity: 0.8;
      font-size: 14px;
      line-height: 200%; }

.contacts .intro-content__contacts .intro-content__element-title {
  padding: 0; }

.contacts .intro-content__contacts .intro-content__element-title-page {
  margin-top: 60px;
  margin-bottom: 100px; }
  .contacts .intro-content__contacts .intro-content__element-title-page span {
    background-color: transparent;
    box-shadow: none; }

.contacts .intro-content__contacts .contacts__adress {
  margin-bottom: 100px; }
  .contacts .intro-content__contacts .contacts__adress .contacts__name-comapny {
    font-family: "MullerBold";
    display: inline-block;
    font-size: 20px;
    margin-bottom: 20px;
    background: linear-gradient(276.5deg, #b48c52 0%, #ecc893 195.44%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; }
  .contacts .intro-content__contacts .contacts__adress .adress {
    font-size: 15px; }

@font-face {
  font-family: "MullerBold";
  src: url(assets/fonts/MullerBold.woff2) format("woff2"), url(assets/fonts/MullerBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "MullerHeavy";
  src: url(assets/fonts/MullerHeavy.woff2) format("woff2"), url(assets/fonts/MullerHeavy.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "MullerExtraBold";
  src: url(assets/fonts/MullerExtraBold.woff2) format("woff2"), url(assets/fonts/MullerExtraBold.woff) format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "MullerBlack";
  src: url(assets/fonts/MullerBlack.woff2) format("woff2"), url(assets/fonts/MullerBlack.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "MullerLight";
  src: url(assets/fonts/MullerLight.woff2) format("woff2"), url(assets/fonts/MullerLight.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "MullerMedium";
  src: url(assets/fonts/MullerMedium.woff2) format("woff2"), url(assets/fonts/MullerMedium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "MullerRegular";
  src: url(assets/fonts/MullerRegular.woff2) format("woff2"), url(assets/fonts/MullerRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

