.screen__container__page-not-found {
   padding: $pd_wrapper;

   display: flex;
   flex-direction: column;
   .not-found {
      margin: 160px;

      display: flex;
      justify-content: center;
      flex-direction: column;
      .wrapper__not-found {
         text-align: center;
         .img__not-found {
            margin-bottom: 45px;
         }
         .title__not-found {
            font-family: $ft_mlr_light;
            text-transform: uppercase;
            line-height: 140%;
            font-size: 35px;
            margin-bottom: 35px;
            background: $clr_gradient_orange;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
         }
         .subtitle__not-found {
            @extend %base-text;
            margin-bottom: 40px;
            opacity: 0.5;
         }
      }
      .button__not-found-from_desktop {
         width: 264px;
      }
   }
}
