/*Fonts*/
$ft_mlr_light: "MullerLight";
$ft_mlr_regular: "MullerRegular";
$ft_mlr_medium: "MullerMedium";
$ft_mlr_bold: "MullerBold";
$ft_mlr_extbold: "MullerExtraBold";
$ft_mlr_black: "MullerBlack";
$ft_mlr_heavy: "MullerHeavy";

/*Colors*/
$clr_gradient_orange: linear-gradient(276.5deg, #b48c52 0%, #ecc893 195.44%);
$clr_white: #ffffff;
/*Sizes*/

$pd_wrapper: 30px 40px 0px 40px;
$pd_content_container: 80px;

$close-size: 22px;
$close-width: ($close-size / 10);

/*Inheritance*/

%h1-title {
   font-family: $ft_mlr_bold;
   font-size: 45px;
   color: #fff;
   line-height: 140%;
   box-shadow: none;
   background-color: transparent;
}

%category__page-title {
   font-size: 30px;
   font-family: $ft_mlr_bold;
   color: #fff;
   line-height: 140%;
   margin-bottom: 45px;
}

%base-text {
   font-family: $ft_mlr_regular;
   color: #fff;
   font-size: 14px;
   opacity: 0.8;
   line-height: 200%;
}
