.contacts {
   .intro-content__contacts {
      .intro-content__element-title {
         padding: 0;
      }
      .intro-content__element-title-page {
         margin-top: 60px;
         margin-bottom: 100px;
         span {
            background-color: transparent;
            box-shadow: none;
         }
      }
      .contacts__adress {
         margin-bottom: 100px;
         .contacts__name-comapny {
            font-family: $ft_mlr_bold;
            display: inline-block;
            font-size: 20px;
            margin-bottom: 20px;
            background: $clr_gradient_orange;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
         }
         .adress {
            @extend %base-text;
            font-size: 15px;
         }
      }
   }
}
