.footer {
   .footer-wrapper {
      background-color: #111116;
      width: 100%;
      height: auto;
   }

   .footer__items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 70px 0;
      .category-column {
         font-family: $ft_mlr_regular;
         font-size: 14px;

         a {
            color: #88888a;
            display: inline-block;
            line-height: 140%;
            transition: 0.2s linear;
            &:hover {
               color: #fff;
            }
         }
         & a:not(:last-child) {
            margin-bottom: 15px;
         }
      }

      .category-column.category-column__number {
         .number {
            color: #fff;
            font-size: 20px;
            line-height: 97%;
         }
         span {
            color: #88888a;
         }
      }
   }

   .footer-soc {
      background-color: #0b0b0e;
      width: 100%;
      height: auto;
      padding: 20px 0;
   }
   .footer-soc__items {
      font-family: $ft_mlr_regular;
      font-size: 14px;
      align-items: center;
      display: flex;
      line-height: 140%;
      justify-content: space-between;
      .img-soc {
         display: flex;
         align-items: center;
         a:first-child {
            margin-right: 10px;
         }
      }
      .years {
         margin-left: 20px;
         font-family: $ft_mlr_regular;
         color: #fff;
         opacity: 0.2;
      }
      .links-soc-footer {
         a {
            font-size: 14px;
            font-family: $ft_mlr_regular;
            opacity: 0.2;
            color: #fff;
            &:last-child {
               margin-left: 30px;
            }
            span {
               text-decoration: underline;
            }
         }
      }
   }
}
