@font-face {
   font-family: "MullerBold";
   src: url("../assets/fonts/MullerBold.woff2") format("woff2"), url("../assets/fonts//MullerBold.woff") format("woff");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "MullerHeavy";
   src: url("../assets/fonts/MullerHeavy.woff2") format("woff2"), url("../assets/fonts/MullerHeavy.woff") format("woff");
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "MullerExtraBold";
   src: url("../assets/fonts/MullerExtraBold.woff2") format("woff2"),
      url("../assets/fonts//MullerExtraBold.woff") format("woff");
   font-weight: 800;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "MullerBlack";
   src: url("../assets/fonts/MullerBlack.woff2") format("woff2"), url("../assets/fonts/MullerBlack.woff") format("woff");
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "MullerLight";
   src: url("../assets/fonts/MullerLight.woff2") format("woff2"), url("../assets/fonts/MullerLight.woff") format("woff");
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "MullerMedium";
   src: url("../assets/fonts/MullerMedium.woff2") format("woff2"), url("../assets/fonts/MullerMedium.woff") format("woff");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "MullerRegular";
   src: url("../assets/fonts/MullerRegular.woff2") format("woff2"), url("../assets/fonts/MullerRegular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
