.overlay {
   &.overlay_size_full {
      height: 100vh;
   }
   .overlay__menu-rectangle {
      position: relative;
      width: 29%;
      height: 100%;
      background-color: #17171e;
      box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.25);

      /* .vert-trail {
         position: absolute;
         width: 1px;
         height: 100%;
         background: $clr_gradient_orange;
         margin-left: calc(7% - 1px);
         opacity: 0.3;
      } */

      &::after {
         content: "";
         position: absolute;
         display: block;
         width: 1px;
         height: 100%;
         top: 0;
         left: 25%;
         background-color: #6e5b42;
      }
   }
   .overlay__container {
      padding: $pd_wrapper;
      height: 100vh;
      display: flex;
   }

   &.overlay-intro {
      @include mxn_bg_full_screen;
      background-image: url("/assets/img/bg.jpg");
      position: relative;
      /* &.overlay-intro::after {
         content: "";
         position: absolute;
         height: 100%;
         width: 100%;
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
         background: linear-gradient(270.11deg, #17171e -10.83%, rgba(23, 23, 30, 0.6) 176.31%);
      } */
   }
   .overlay__container_left-block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   .aside-menu__close {
      .cl-btn-6 {
         position: relative;
         width: 26px;
         cursor: pointer;
         .cl-btn-6-in {
            width: inherit;
            text-align: center;
         }
      }

      .cl-btn-6-txt {
         color: #fff;
         font-size: 12px;
         padding: 10px 0;
         text-transform: uppercase;
         color: $clr_gradient_orange;
         transition: all 0.3s ease-in;
         opacity: 0;
         cursor: pointer;
         font-family: "Muller";
      }
      .cl-btn-6-in:before,
      .cl-btn-6-in:after {
         position: absolute;
         content: "";
         height: 2.3px;
         width: inherit;
         background: $clr_gradient_orange;
         left: 0;
         transition: all 0.3s ease-in;
      }
      .cl-btn-6-in:before {
         top: calc(50% - 3px);
         transform: rotate(45deg);
      }
      .cl-btn-6-in:after {
         bottom: 50%;
         transform: rotate(-45deg);
      }
      .cl-btn-6:hover .cl-btn-6-txt {
         opacity: 1;
      }
      .cl-btn-6:hover .cl-btn-6-in:before,
      .cl-btn-6:hover .cl-btn-6-in:after {
         transform: rotate(0);
      }
      .cl-btn-6:hover .cl-btn-6-in:before {
         top: 0;
      }
      .cl-btn-6:hover .cl-btn-6-in:after {
         bottom: 0;
      }
   }

   .social-links {
      display: flex;
      flex-direction: column;
      a:not(:last-child) {
         margin-bottom: 15px;
      }
   }

   .navigation {
      margin-left: 130px;
      .navigation-link__link-active {
         color: #ecc893;
      }
      ul {
         li:not(:last-child) {
            margin-bottom: 20px;
         }
      }
      a {
         transition: 0.2s linear;
         font-family: $ft_mlr_regular;
         font-size: 14px;
         color: #fff;
         &:hover {
            color: #ecc893;
         }
      }
   }
}
