.popup__wrapper {
   display: flex;
}
.popup-text-wrapper {
   color: #fff;
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 489px;
   height: 420px;
   background-color: #262632;
   background-image: url("../assets/img/bg-form.png");
   .popup-text {
      margin-left: 60px;
      h3 {
         font-family: $ft_mlr_bold;
         font-size: 30px;
         margin-bottom: 30px;
      }
      p {
         font-family: $ft_mlr_light;
         opacity: 0.8;
         font-size: 14px;
         line-height: 200%;
         width: 60%;
      }
   }
}

.popup-form {
   margin-left: 10px;
   width: 704px;
   height: 420px;
   background-color: #262632;
   display: flex;
   justify-content: center;
   flex-direction: column;
   .form__wrapper {
      margin-left: 97px;
      .form__row-check {
         .check__wrapper {
            input[type="checkbox"] {
               display: none;
            }

            input[type="checkbox"] + label {
               color: #929298;
               cursor: pointer;
               font-size: 12px;
               font-family: $ft_mlr_light;
               line-height: 150%;
            }

            input[type="checkbox"] + label span {
               display: inline-block;
               width: 30px;
               height: 30px;
               margin: -2px 10px 0 0;
               vertical-align: middle;
               background: url("../assets/img/checkbox-no-active.svg") center no-repeat;
               cursor: pointer;
               transition: background 0.2s linear;
            }

            input[type="checkbox"]:checked + label span {
               background: url("../assets/img/checkbox.svg") center no-repeat;
            }
         }
      }
      .name {
         font-family: $ft_mlr_light;
         width: 508px;
         padding: 0px 0px 15px 0px;
         background: none;
         border: none;
         border-bottom: 1px solid #51515b;
         color: #d4d4d6;
         font-size: 14px;
         outline: none;
         margin-bottom: 35px;
      }
      .phone {
         font-family: $ft_mlr_light;
         width: 508px;
         padding: 0px 0px 15px 0px;
         background: none;
         border: none;
         border-bottom: 1px solid #51515b;
         color: #d4d4d6;
         font-size: 14px;
         outline: none;
         margin-bottom: 35px;
      }
   }
}
