.gallery {
   .intro-content {
      .intro-content__element-title-page {
         margin-top: 60px;
         span {
            background-color: transparent;
            box-shadow: none;
         }
      }
   }
}
