.intro-content {
   width: 75%;

   .intro-content__element {
      &.intro-content__element-title {
         padding-top: 3px;
         padding-left: 10px;
         padding-bottom: 3px;
         line-height: 140%;
         font-family: $ft_mlr_bold;
         font-weight: bold;
         font-size: 46px;
         letter-spacing: 2px;
         span {
            color: #fff;
            background-color: #000000;
            box-shadow: 0 0px 0px 10px #000000;
         }
      }

      &.intro-content__element-catalog {
         display: flex;
         .element-catalog {
            margin-top: 5px;
            color: #fff;
            letter-spacing: 1px;
            font-size: 20px;
            font-family: $ft_mlr_regular;
            font-weight: normal;
            background-color: rgba(0, 0, 0, 0.5);
            width: 140px;
            height: 64px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:not(:last-child) {
               margin-right: 5px;
            }
         }
      }

      &.intro-content__element-catalog-btn-to-order {
         margin-top: 20px;
      }
   }
}
